<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pasteleria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <script src="../js/pedido.js" type="text/javascript"></script>
    <link rel="icon" href="../assets/icon/Cute Pink and Brown Bakery Logo (1)-modified.ico">
</head>

<body>
    <div class="flex-center">
        <div class="titulo">
            <img src="../assets/Cute Pink and Brown Bakery Logo (1)-modified.png" alt="Pastelería" style="width: 200px; height: 200px;">
           
        </div>
        <ul class="navbar">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./menu.html">Menú</a></li>
            <li><a  href="./pedido.html">Pedidos</a></li>
            <!-- <li><a href="./pedidosPanadero.html">Pedidos Realizados</a></li> -->
            <li><a class="active" href="./Informacion.html">Información</a></li>
        </ul>
        <div class="pedidoDiv">
            <h1>Contactenos caballero, estaremos a su servicio</h1>

            <form>
                <label for="Nombre">Ingrese su nombre</label><br>
                <input id="Nombre" name="Nombre" type="text" placeholder="Nombre">
                <br><br>
                <label for="Telefono">Ingrese su número de Telefono</label><br>
                <input id="Telefono" name="Telefono" type="tel" placeholder="Telefono" maxlength="10">
                <br><br>
                <label for="Texto">Ingrese su queja o sugerencia</label><br><br>
                <textarea placeholder="Ingrese el texto" style="width: 600px; height: 100px;" ></textarea>
                <br><br>
            </form>
            <button id="btn_guardar" onclick="enviar()">Enviar</button><br><br> 
        </div>
        <br><br>
        <div class="footer">
            <div class="iconosRedes">
                <a href="https://github.com/cbryanalfonso"><img src="../assets/redes/gh.png" alt="Github" class="imgRedes" ></a>
            </div>
            <div class="iconosRedes">
               <a href="https://www.linkedin.com/in/cbryanalfonso/"> <img src="../assets/redes/linke.png" alt="LinkedIn" class="imgRedes" ></a>
            </div>
            <div class="iconosRedes">
                <a href="https://www.facebook.com/bryan.cruz.75873/"><img src="../assets/redes/fb.png" alt="Facebook" class="imgRedes" ></a>
            </div>
            <div class="iconosRedes">
                <a href="https://www.instagram.com/bryan_alfonso14"><img src="../assets/redes/inst.png" alt="Instagram" class="imgRedes" ></a>
            </div>
            
        </div>
</body>

</html>