<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pasteleria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
    <div class="flex-center">
        <div class="titulo">
            <h1>Pasteleria</h1>
        </div>
        <ul class="navbar">
            <li><a href="../index.html">Inicio</a></li>
            <li><a class="active" href="#menu">Menú</a></li>
            <li><a href="./pedido.html">Pedidos</a></li>
            <li><a href="./pedidosPanadero.html">Pedidos Realizados</a></li>
            <li><a href="./Informacion.html">Información</a></li>
        </ul>
        <div>
            <h1>Menú de pasteles</h1>

            <h2>Menu de pasteles</h2>
            <ul>
                <li> 3 Leches Natural
                    <ul>
                        <li>Para 200 personas .................. $ 2000</li>
                        <li>Para 100 personas .................. $ 1000</li>
                        <li>Para 50 personas ................... $ 500</li>
                        <li>Para 20 personas ................... $ 300</li>

                    </ul>
                </li>
                <li> 3 Leches con Chocolate
                    <ul>
                        <li>Para 200 personas .................. $ 2000</li>
                        <li>Para 100 personas .................. $ 1000</li>
                        <li>Para 50 personas ................... $ 500</li>
                        <li>Para 20 personas ................... $ 300</li>
                    </ul>
                </li>
                <li>3 Leches con Kashlua
                    <ul>
                        <li>Para 200 personas .................. $ 2000</li>
                        <li>Para 100 personas .................. $ 1000</li>
                        <li>Para 50 personas ................... $ 500</li>
                        <li>Para 20 personas ................... $ 300</li>
                    </ul>
                </li>
                <li>3 Leches Con fruta
                    <ul>
                        <li>Para 200 personas .................. $ 2000
                        <li>Para 100 personas .................. $ 1000</li>
                        <li>Para 50 personas ...................  $ 500</li>
                        <li>Para 20 personas ...................  $ 300</li>
                    </ul>
                </li>
                <li>Nescafe
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
                <li>Supremo de Naranja
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
                <li>Zanahoria
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
                <li>Guayaba
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
                <li>Ferrero
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
                <li>Ciruela
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
                <li>Escoses
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
                <li>Manzana
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
                <li>Cajeta
                    <ul>
                        <li>Para 200 personas .................. $ 1700</li>
                        <li>Para 100 personas ...................  $ 900</li>
                        <li>Para 50 personas ....................  $ 400</li>
                        <li>Para 20 personas ....................  $ 200</li>
                    </ul>
                </li>
            </ul>
           <hr>
           <h2>Decoraciones de pasteles</h2>
            <ul>
                <li>Frutos rojos
                </li>
                <li> Flores de merengue
                </li>
                <li>Cerezas
                    
                </li>
                <li>Adorno de cumpleaños</li>
                <li>Listones    
                </li>
                <li>Bengalas</li>
                <li>Adorno Navideño</li>
                <li>Mensaje en el pastel</li>
                <li>Superheroe Favorito</li>
                <li>Adorno para niño pequeño</li>
                <li>Adorno de XV años</li>
                <li>Adorno de boda</li>
                <li>Adorno de divorcio</li>
            </ul>
           
            <!-- se pone una division con hr -->
            <hr>
            <h2>Cupcakes</h2>
            <dl>
                <dt>Cupcake Chocolate</dt>
                <dd>Pan de Chocolate y chispas con cobertura de Chocolate</dd>
                <dt>Cupcake Vainilla</dt>
                <dd>Pan de vainilla con cobertura de vainilla</dd>
                <dt>Cupcake Red Velvet</dt>
                <dd>Teciopelo rojo con cobertura de queso crema</dd>
                <dt>Café Moka</dt>
                <dd>Pan de coca y café con cobertura de moka</dd>

            </dl>
            <hr>

           
        </div>
</body>

</html>