<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pasteleria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
    <div class="flex-center">
        <div class="titulo">
            <h1>Pasteleria</h1>
        </div>
        <ul class="navbar">
            <li><a href="../index.html">Inicio</a></li>
            <li><a class="active" href="#menu">Menú</a></li>
            <li><a href="./pedido.html">Pedidos</a></li>
           <!--  <li><a href="./pedidosPanadero.html">Pedidos Realizados</a></li> -->
            <li><a href="./Informacion.html">Información</a></li>
        </ul>
        <div >
            <h1>Menú de pasteles</h1>
            <br>
            <br>
            <div class="menu">
                    <div class="pasteles">
                        <img src="../assets/pasteles/3leches.jpg" alt="Pastel de tres leches" class="img">
                        <div class="txt">Pastel de tres leches</div>
                        <div class="precio">$500</div>

                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/3lechesChocolate.jpg" alt="Pastel de tres leches de Chocolate" class="img">
                        <div class="txt">Pastel de tres leches de Chocolate</div>
                        <div class="precio">$550</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/3lfrua.jpg" alt="Pastel de tres leches con fruta" class="img">
                        <div class="txt">Pastel de tres leches con fruta</div>
                        <div class="precio">$520</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/nescafe.png" alt="Pastel de Nescafe" class="img">
                        <div class="txt">Pastel de Nescafe</div>
                        <div class="precio">$400</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/naranja.jpg" alt="Pastel de Naranja" class="img">
                        <div class="txt">Pastel de Naranja</div>
                        <div class="precio">$400</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/zanahoria.jpg" alt="Pastel de Zanahoria" class="img">
                        <div class="txt">Pastel de Zanahoria</div>
                        <div class="precio">$420</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/guayaba.jpg" alt="Pastel de Guayaba" class="img">
                        <div class="txt">Pastel de Guayaba</div>
                        <div class="precio">$420</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/ferrero.jpg" alt="Pastel Ferrero" class="img">
                        <div class="txt">Pastel Ferrero</div>
                        <div class="precio">$620</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/ciruela.jpg" alt="Pastel de Ciruela" class="img">
                        <div class="txt">Pastel de Ciruela</div>
                        <div class="precio">$420</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/escoses.jpg" alt="Pastel Escoses" class="img">
                        <div class="txt">Pastel Escoses</div>
                        <div class="precio">$420</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/manzana.jpg" alt="Pastel de Manzana" class="img">
                        <div class="txt">Pastel de Manzana</div>
                        <div class="precio">$450</div>
                    </div>
                    <div class="pasteles">
                        <img src="../assets/pasteles/3leches.jpg" alt="Pastel de Cajeta" class="img">
                        <div class="txt">Pastel de Cajeta</div>
                        <div class="precio">$620</div>
                    </div>
                    
            </div>
           
           <hr>
           <h2>Decoraciones de pasteles</h2>
            <ul>
                <li>Frutos rojos
                </li>
                <li> Flores de merengue
                </li>
                <li>Cerezas
                    
                </li>
                <li>Adorno de cumpleaños</li>
                <li>Listones    
                </li>
                <li>Bengalas</li>
                <li>Adorno Navideño</li>
                <li>Mensaje en el pastel</li>
                <li>Superheroe Favorito</li>
                <li>Adorno para niño pequeño</li>
                <li>Adorno de XV años</li>
                <li>Adorno de boda</li>
                <li>Adorno de divorcio</li>
            </ul>
           
            <!-- se pone una division con hr -->
            <hr>
           
            
        </div>
        <a href="./pedido.html" class="btn"><button title="Realizar pedido" class="btnNav" >Realizar un pedido</button></a>
</body>

</html>