<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pasteleria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <script type="text/javascript">
      function valores(f, cual) {
        todos = new Array();
        for (var i = 0, total = f[cual].length; i < total; i++)
          if (f[cual][i].checked) todos[todos.length] = f[cual][i].value;
        console.log(todos.join(", "));

        //return todos.join(".");
      }
    </script>
  </head>
  <body>
    <form>
      <input name="t[]" type="checkbox" value="ADOPS" />
      <input name="t[]" type="checkbox" value="1DSF1" />
      <input name="t[]" type="checkbox" value="2222" />
      <input name="t[]" type="checkbox" value="3DSF3" />
      <input name="t[]" type="checkbox" value="4444" />
      <input name="t[]" type="checkbox" value="55DSF" />
      <button onclick="alert(valores(this.form, 't[]'))">mostrar</button>
    </form>
  </body>
</html>
