<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pasteleria</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
    <div class="flex-center">
        <div class="titulo">
            <h1>Pasteleria</h1>
        </div>
        <ul class="navbar">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="./menu.html">Menú</a></li>
            <li><a class="active" href="./pedido.html">Pedidos</a></li>
            <li><a href="./pedidosPanadero.html">Pedidos Realizados</a></li>
            <li><a href="./Informacion.html">Información</a></li>
        </ul>
        <div class="pedidoDiv">
          
            Nombre: <input id="nom" style="margin:10px" type="text"><br><br>
            Apellido:<input id="ape" style="margin:4px" type="text"><br><br>
            Cedula: <input id="ced" style="margin:20px" type="text"><br><br>
            <button id="btn_guardar" onclick="guardar()">Guardar</button><br><br>
    
            <table >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cedula</th>
                    </tr>
                </thead>
                <tbody id="tablita">
    
                </tbody>
            </table>
        </div>
</body>

</html>